h1.body{
  color: #316B83;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

view{
  justify-content: center;
  align-content: space-between ;
  background-color: #316B83;
}


main.container.flex-column{
  background-color: white;
  position: relative;
  border-radius: 5px;
 

}


div.col-md-1{
  background-color: #316B83;
  border-radius: 5px;
  padding-bottom: 20%;
  width: 10%;

  align-items: center;
}

button.button.search{
  width: 40px;
  background: #316B83;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.row.search{
  padding-bottom: 30px;
  width: 1000px;

  margin-left: auto;
  margin-right: auto;
}

.form.search{
  width: 900px;
}

.input.search{
  width: 900px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

svg{
  color: white;
}

.table-responsive{
  border-radius: 5px;
  font-size: small;
  align-items: center;
  overflow-y: auto;
  max-height: 650px;
}

thead{
  background-color: #316B83;
  color: white;
  width: 100%;
  position: relative;
  
}


th, td{
  text-align: center;   
}

.buttonMenu{
  border: none;
  background-color: #316B83;
  width: 100%;
  text-decoration-color: red;
}

