h1.body{
  color: #316B83;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

form{
  height: 2em;  /*distancia entre painel adm e a barra de busca*/
  display: flex;
  align-items: center;
  justify-content: center;  /*centralizar no meio*/
}