.container-fluid{
  background: #316B83;
}

h1{
  color: #fff;
  padding-right: 100px;
}

.button{
  background-color: #fff;
  padding: 16px;
  font-size: small;
  color: #000;
  font-weight: 500;
  
}
 


